@import "/src/helpers/colors.module.scss";

.header {
    font-size: 32px;
    color: $black;
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 10rem;

    &__title {
        letter-spacing: 1.3rem;
    }
}

.switch {
    width: 60px;
    height: 30px;
    background-color: $black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    padding-left: 3px;
    cursor: pointer;
}

.switch[data-ison="true"] {
    justify-content: flex-end;
    background-color: rgb(235, 235, 235);
    padding-right: 3px;
    
    .handle {
        background-color: $black;
        border: none;
    }
}

.handle {
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 5px;
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 25rem;
    }
}
