@import "/src/helpers/colors.module.scss";

.header {
    font-size: 32px;
    color: $black;
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 10rem;

    &__title {
        letter-spacing: 1.3rem;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 25rem;
    }
}
